echo off
SETLOCAL
set DOMAIN_NAME={{ domain_name }}
set USERDOMAIN_HOME={{ oracle_base}}/config/Domains/{{ domain_name }}
set SERVER_NAME={{ admin_server_name }}
set PRODUCTION_MODE=true
set MEM_ARGS=-Xms40m -Xmx250m
set WL_HOME={{ oracle_base }}
call "%WL_HOME%\common\bin\commEnv.cmd"
set
call "{{ oracle_base }}\server\bin\uninstallSvc.cmd"
ENDLOCAL
